
<html>
<head>
    <title>Página do cadastro</title>
    <link rel="stylesheet" type="text/css" href='/css/listaCadastro.css'>
</head>    

<header id = "fundo" >
    <h1 id = "cadastro">CADASTRE-SE</h2>
    <h4  id = "cadastro"> lorem ipsum dolor sit amet consectetur adipiscing elit.</h3>
     <input type="text"   id="entrada1"   placeholder="     Nome"/>   
     <input type="text"   id="entrada2"   placeholder="     Sobrenome"/>  
     <input type="text"   id="entrada2" class = "entrada3"   placeholder="Participação"/>  
     <input type="submit" id="botao"     value="ENVIAR">  
</header>

    <body>
        
    </body>
</html>