
<html>
    <head>
        <title>Página do cadastro</title>
        <link rel="stylesheet" type="text/css" href='/css/listaCadastro.css'>
    </head>    
    <body>
        <div>  
            <div id = "fundo" >
                
                <h2 id = "cadastro" class = "centralizado">CADASTRE-SE</h2>
                <p  id = "cadastro" class = "centralizado"> Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                <input type="text"   id="entrada1"   placeholder="     Nome"/>   
                <input type="text"   id="entrada2"   placeholder="     Sobrenome"/>  
                <input type="text"   id="entrada2"   class = "centralizado"   placeholder="Participação"/>  
                <input type="submit" id="botao"      value="ENVIAR">
    
            </div>
    
            <div id = "resultados">
                <h2 id ="dados" class = "centralizado">DADOS</h2>
                <p id = "lorem" class = "centralizado">Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                
                <table border="1px">
                    <tr>
                        <td>    </td>
                        <td>Nome</td>
                        <td>Sobrenome</td>
                        <td>Participação</td>
                        
                    </tr>
                    <tr>
                       
                    </tr>
                </table>
            </div>
        </div>     
    </body>
</html>